{{ define "base" }}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{template "title" .}} - Snippetbox</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/css/main.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>
	<header>
		<h1>
			<a href="/">Snippetbox</a>
		</h1>
	</header>
	<nav>
		<a href="/">Home</a>
	</nav>
	<main>
		{{template "main" .}}
	</main>

	{{template "footer" .}}

</body>

</html>
{{ end }}
